{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}网壳小程序{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>请输入初始控制点，以逗号分隔</h1>
    </div>

    {% if point_form %}{{ wtf.quick_form(point_form) }} {% else %}{% endif %}
    <p></p>
    {% if control_points and end_points %}
        <h3>输入的控制点:</h3>
        <p>{{ control_points }}</p>
        <h3>输入的首尾边界:</h3>
        <p>{{ end_points }}</p>
        <h3>是否进行计算</h3>
        <button type="button" class="btn btn-default" onclick="window.location.assign('/confirm')">进行计算</button>
    {% else %}
    {% endif %}
{% endblock %}
